*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Noto Serif";
  src: local("Noto Serif"),
    url("../public/font/NotoSerif-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Playwrite HR";
  src: local("Playwrite HR"),
    url("../public/font/PlaywriteHR-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../public/font/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Mali";
  src: local("Mali"), url("../public/font/Mali-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("../public/font/Rubik-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../public/font/Poppins-Bold.ttf") format("ttf");
}

body,
html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

section {
  min-height: 100vh;
}

.App {
  background: linear-gradient(272deg, #dfdfdf 0%, #ffffff 100.34%);
  font-family: Noto Serif;
  font-size: clamp(14px, 1.39vw, 23px);
  line-height: 1.89vw;
  text-align: center;
  width: 100%;
  height: 100%;
}

header {
  z-index: 10;
  font-family: Noto Serif;
  font-size: clamp(14px, 1.39vw, 23px);
  line-height: 1.89vw;
  text-align: center;
  color: #1e1e1e;
  width: 80vw;
  height: 7.56vh;
  position: fixed;
  top: 2.67vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 38vw;
  justify-content: space-between;
  justify-self: anchor-center;
}
header.unFinxed {
  position: absolute;
  top: 2.67vh;
}
.webName {
  display: flex;
  align-items: center;
  gap: 1.1vw;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
}
#logo {
  width: 4vw;
  height: 6vh;
}

.mobileHeaderOption {
  background: none;
  border: none;
  backdrop-filter: none;
}
.headerOption {
  font-weight: 400;
  text-align: center;
  display: flex;
  gap: 2.78vw;
}

.headerOption > span {
  cursor: pointer;
}

.downloadResume {
  color: inherit;
  text-decoration: none;
}
@-moz-document url-prefix() {
  header {
    left: 50%;
    top: 6.67vh;
    transform: translate(-50%, -50%);
  }
}

.burgerMenu {
  display: none;
}

@media (max-width: 640px) {
  .headerOption,
  .webName > span {
    display: none;
  }
  body,
  html {
    overflow: visible;
  }
  header {
    justify-content: space-between;
  }
  .burgerMenu {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .burgerMenu > span {
    z-index: 11;
    transform: scale(0.65);
  }
  .burgerMenu > span .open {
    background: #1e1e1e !important;
  }
  .mobileHeaderOption {
    background: #fbfbfbc4;
    border: 1px solid #d0d0d0;
    backdrop-filter: blur(8px);

    width: 120px;
    height: 230px;
    border-radius: 8px;
    padding-bottom: 20px;
    position: absolute;
    top: 10px;
    right: 0px;

    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 6%);
  }
  .mobileHeaderOption.open {
    display: flex;
  }

  #logo {
    width: 32px;
  }
}
