.containerTwo {
  background: linear-gradient(288deg, #DFDFDF 0%, #FFFFFF 100.34%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Explore {
  width: 80vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.header {
  font-family: "Noto Serif";
  font-size: clamp(2.5rem, 4.44vw, 5rem);
  font-weight: 400;
  line-height: 6.05vw;
}

.expAllButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13vw;
  height: 100px;
  color: #f6f6f6;
  background-color: #1e1e1e;
  padding: 6px 6px 6px 6px;
  border-radius: 16px;
}
.expAllButton > p {
  margin-left: 15px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.39vw;
  line-height: 1.94vw;
  text-align: center;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  background-color: #f6f6f6;
  width: 3.33vw;
  height: 3.33vw;
  border-radius: 12px;
}

.expAllButton:hover {
  justify-content: right;
}
.expAllButton:hover p {
  display: none;
}
.expAllButton:hover .arrowButton {
  width: 14vw;
  transition: all 900ms cubic-bezier(0, 0, 0.02, 0.99) 100ms;
}

.circleContainer{
  width: 100vw;
  height: 100vw;
  position: absolute;
  background-color: #9b3030;
 
}
.Circles{
  position: absolute;
  height: 65vh;
  width: 10vw;
  top: 125vh;
  margin-left: 30vw;
}