.containerFour {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  height: 100vh;
}

.contactMeText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 78px 0 78px;
  width: 27.78vw;
  height: 27.78vw;
  position: relative;
  left: calc(-50% + 27.78vw);

  transition: padding 10ms cubic-bezier(0, 0, 0.01, 1) 100ms;
}
.contactMeText > p {
  position: relative;
  font-family: "Noto Serif";
  font-size: 3.33vw;
  font-weight: 400;
  line-height: 4.54vw;
  z-index: 3;

  transition: transform 800ms cubic-bezier(0, 0, 0.01, 1) 100ms;
}
.contactMeText > div {
  position: absolute;
  width: inherit;
  height: inherit;

  border: 2px solid #ffffff;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(3, 169, 244, 0.25) 0%,
    rgba(204, 57, 164, 0.25) 50%,
    rgba(255, 181, 210, 0.25) 100%
  );
  box-shadow: 0px 0px 8px 2px #ffffff inset;
  z-index: 2;

  transition: opacity 300ms linear 100ms;
}
.contactMeText:hover > div {
  opacity: 0;
}
.contactMeText:hover > p {
  transform: translateY(calc(50% - 18vw));
}
.contactMeText:hover {
  padding: 0;
}

.contactMeSocials {
  /* opacity: 0; */
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
  width: 25vw;
  height: 25vw;
  position: absolute;
  left: calc(50% - 34.2vw);
  z-index: 1;
}
.contactMeSocials > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 20px;
  background: #d9d9d940;
  border: 2px solid #767676;
  backdrop-filter: blur(12px);
}

#deskImg {
  width: 52vw;
  position: absolute;
  top: calc(400vh - 73.33vh);
  left: calc(100vw - 54vw);
}
