@font-face {
  font-family: "Playwrite HR";
  src: local("Playwrite HR"),
    url("../public/font/PlaywriteHR-Regular.ttf") format("ttf");
}

.container {
  background: rgb(223, 223, 223);
  background: linear-gradient(210deg,
      rgba(223, 223, 223, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.hand {
  position: absolute;
  width: 110px;
  top: 115px;
  left: 26vw;
}

.title {
  display: flex;
  gap: 17px;
  align-items: center;
}

h1 {
  font-family: "Noto Serif";
  font-weight: 400;
  font-size: 64px;
  line-height: 87.17px;
}

#sinaDavir {
  font-family: "Playwrite HR";
  font-weight: 400;
  font-size: 58px;
  line-height: 96.22px;
}

.line {
  background: #fca311;
  border-radius: 4px;
  width: 800px;
  height: 4px;
}

.under {
  position: absolute;
  top: 96px;
}

.expertise-container {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.expertise-wrapper {
  position: relative;
  width: 800.01px;
  height: 87px;
}

.expertise {
  width: 800.01px;
  height: 87px;
  position: absolute;
  padding: 0 0 20px 0;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
  font-weight: 700;
  color: #fca311;
}

.expertise.visible {
  opacity: 1;
  transform: translateY(0);
}

p {
  position: relative;
  top: 25vh;
  font-family: "Noto Serif";
  font-size: 24px;
  font-weight: 400;
  line-height: 32.69px;
  text-align: center;
}

.curlyLine {
  position: absolute;
  bottom: 21px;
  left: 0;
}

.mouse {
  position: absolute;
  bottom: 60px;
  left: calc(50vw - 24px);
  animation: moveUp 2s infinite alternate;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}